body{
    background-image: url(image/header.png);
    background-repeat: no-repeat;
    margin-top: 3%;
}
.Name{
    color: orange;
}
h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif; 
}
h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( orange,red, tomato);
    color: white;
    padding: 5px 20px 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.fexible-container{
    display: flex; 
    margin-bottom: 5%;
}
.half-width{
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
.half-width img{
    width: 80%;
    margin-left: 10%;
}
.Dream{
    margin-top: 10%;
}

#experience{
    margin-left: 3%;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
#java-programmer{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#android-developer{

    border-right: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
    margin-bottom: 1%;
}